*{
    margin: 0;
    padding: 0;
    font-family: arial;
}
.container-cards{
    margin:auto;
    width: 50rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.container-form{
    margin:auto;
    width: 30rem;
}
.formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60rem;
    margin: auto;
    padding: 1.5rem;
}
.formulario input[type=text]{
    padding: 1rem;
}
.formulario h1{
    text-align: center;
    margin: 1.5rem;
}
.btn{
    padding: 1rem;
    background-color: cornflowerblue;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: 500;
}
.btn:hover{
    background-color: royalblue;
}
nav{
    background-color: cornflowerblue;
}
.navegacao{
    max-width: 900px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}
.logo img{
    width: 90px;
}
.logo a{
    font-size: 16pt;
    text-decoration: none;
    color: white;
    font-weight: bold;
    display:flex;
    align-items:center;
    padding: .2rem;
}
.menu{
    display: flex;
}
.menu li{
    list-style: none;
}
.menu li a{
    padding: 1rem;
    color: white;
    font-weight: bold;
    text-decoration: none;
    margin: .1em;
}
.menu li a:hover{
    /* background-color: coral; */
    border: 2px solid white;
}
/*Formulário de Cadastro*/
.form-cadastro{
    margin-top: 1rem;
}
.form-cadastro input{
    width: 100%;
    padding: 0.6rem;
    margin: 0.2rem;
    box-sizing: border-box;
}
.form-cadastro textarea{
    width: 100%;
}
.form-cadastro .row{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0.2rem;
}
.pad-1{
    padding: 1rem;
}
.marg-1{
    margin: 1rem;
}
.txt-center{
    text-align: center;
}
.inline{
    flex-direction: row!important;
    align-items: center;
}
.view-message{
    padding: 0.9rem;
    background-color: orangered;
    
}
.descricao{
    margin-top: 0.5rem;
}

/*Formatação da tabela*/
table{
    border-collapse: collapse;
    width: 100%;
}
th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #0f306d;
    color: white;
}
th,td{
    border: 1px solid black;
    border-collapse: collapse;
}
td,th {
    border: 1px solid #ddd;
    padding: 8px;
}
tr:nth-child(even){background-color: #f2f2f2;}

tr:hover {background-color: #ddd;}
  